body, html {
    height: 100%;
    margin: 0;
    display: flex; /* cria um layout flexível  */
    align-items: center; /* alinha verticalmente */
    justify-content: center; /* alinha horizontal */
}


/* Estilo do "painel do login" */
.formulario_do_login {
    width: 300px; /* largura */
    margin: 50px auto; /*  cria uma margem superior e centraliza o formulário */
    background-color: white;
    padding: 20px; /* espaçamento interno */
    border-radius: 8px; /*  arredonda os cantos */
    box-shadow: 0 0 10px black;
    text-align: center;
}

/* Estilo dos labels "nome de utilizador e palavra-passe*/
.formulario_do_login label {
    display: block; /* cada label fica numa linha diferente */
    text-align: left;
    margin-bottom: 5px; 
    border-radius: 8px; /* adiciona uma margem na parte inferior */
}

/* Estilo das boxs para inserir os dados */
.formulario_do_login input {
    width: 100%; /* ocupa toda a largura do  */
    padding: 10px; /* espaçamento interno */
    margin-bottom: 15px; 
    box-sizing: border-box;
    border-style: solid;
    border-radius: 8px; /* garante que o padding não altere a largura total */
}

/* Estilo do botão de confirmar o login */
.formulario_do_login button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none; /* remove a borda */
    border-radius: 8px; 
    cursor: pointer; /* o cursor tranforma-se numa mão */
    box-shadow: 0 0 10px gray;
}


#checkPassword {
    display: flex;
    align-items: center;
}

#checkPassword input{
    margin-right: 0px; /* tira a margem direita */
    width: 10%; /* altera a largura inicial para os inputs para 10%  */

}
   

#checkPassword label {
   white-space: nowrap; /* impede que o texto seja "partido" */

   margin-left: 0px; /* tira a margem esquerda */

   margin-bottom: 10px; /* sobe o label para alinhar */

}

#pausarVideo {
    display: flex;
    align-items: center;
}

#pausarVideo input{
    margin-right: 0px; /* tira a margem direita */
    width: 10%; /* altera a largura inicial para os inputs para 10%  */

}
   

#pausarVideo label {
   white-space: nowrap; /* impede que o texto seja "partido" */

   margin-left: 0px; /* tira a margem esquerda */

   margin-bottom: 10px; /* sobe o label para alinhar */

}


#TituloPainelLogin {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; 
    color: black; 
    text-transform: uppercase; 
    font-weight: bolder; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px gray; /* Sombra do texto */
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

#quadro {
    width: 1000px; /* largura */
    height: 85%;
    margin: 50px auto; /*  cria uma margem superior e centraliza o formulário */
    background-color: rgba(255, 0, 0, 0); /* fundo transparente*/
    padding: 20px; /* espaçamento interno */
    border-radius: 8px; /*  arredonda os cantos */
    box-shadow: 0 0 10px black;
    text-align: center;
}

header, main, footer {
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
}

header {
    padding: 3px;
    height: 5%; /* Definir altura do header como 10% do #quadro */
    width: 100%; /* Ocupa a largura total do #quadro */
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    height: 85%; /* Definir altura do header como 10% do #quadro */
    width: 100%; /* Ocupa a largura total do #quadro */
    
}

footer {
    padding: 3px;
    height: 5%; /* Definir altura do header como 10% do #quadro */
    width: 100%; /* Ocupa a largura total do #quadro */
}

.coluna {
    width: 30%; /* Ajuste a largura conforme necessário */
    float: left;
    margin: 10px;
    background-color: rgba(255, 0, 0, 0);
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.tarefa {
    background-color: wheat;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
}

h2{
    font-size: 24px; 
    color: black; 
    text-transform: uppercase; 
    font-weight: bolder; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, yellow, orange);
    border-radius: 8px;
}
