body,
html {
  height: 100vh; /* "viewport height" - ocupa sempre a altura toda da janela mesmo que redimensiodada */
  margin: 0;
  display: flex; /* cria um layout flexível  */
  align-items: taskDescriptioncenter; /* alinha verticalmente */
  justify-content: center; /* alinha horizontal */
  width: 100%;
  background-image: url(Imagens/download.png);
  background-size: cover;
  background-position: fixed;
}

/* Estilo do "painel do login" */
.formulario_do_login {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 300px; /* largura */
  margin: 50px auto; /*  cria uma margem superior e centraliza o formulário */
  background-color: rgb(99, 99, 99);
  padding: 20px; /* espaçamento interno */
  border-radius: 8px; /*  arredonda os cantos */
  box-shadow: 0 0 10px black;
  text-align: center;
}
.window-extra {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}

.dimensions {
  display: flex;
  flex-direction: column;
  /* "viewport height" - ocupa sempre a altura toda da janela mesmo que redimensiodada */
  width: 300px;
  margin: 0;
  align-items: center; /* alinha verticalmente */
  justify-content: center; /* alinha horizontal */
}
/* Estilo dos labels "nome de utilizador e palavra-passe*/
.formulario_do_login label {
  display: block; /* cada label fica numa linha diferente */
  text-align: left;
  margin-bottom: 5px;
  border-radius: 8px; /* adiciona uma margem na parte inferior */
}

/* Estilo das boxs para inserir os dados */
.formulario_do_login input {
  width: 100%; /* ocupa toda a largura do  */
  padding: 10px; /* espaçamento interno */
  margin-bottom: 15px;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 8px; /* garante que o padding não altere a largura total */
}

/* Estilo do botão de confirmar o login */
.formulario_do_login button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none; /* remove a borda */
  border-radius: 8px;
  cursor: pointer; /* o cursor tranforma-se numa mão */
  box-shadow: 0 0 10px gray;
}

#checkPassword {
  display: flex;
  align-items: center;
}

#checkPassword input {
  margin-right: 0px; /* tira a margem direita */
  width: 10%; /* altera a largura inicial para os inputs para 10%  */
}

#checkPassword label {
  white-space: nowrap; /* impede que o texto seja "partido" */

  margin-left: 0px; /* tira a margem esquerda */

  margin-bottom: 10px; /* sobe o label para alinhar */
}

#pausarVideo {
  display: flex;
  align-items: center;
}

#pausarVideo input {
  margin-right: 0px; /* tira a margem direita */
  width: 10%; /* altera a largura inicial para os inputs para 10%  */
}

#pausarVideo label {
  white-space: nowrap; /* impede que o texto seja "partido" */

  margin-left: 0px; /* tira a margem esquerda */

  margin-bottom: 10px; /* sobe o label para alinhar */
}

#TituloPainelLogin {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;

  text-shadow: 2px 2px 2px gray; /* Sombra do texto */
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.quadro {
  background-color: rosybrown;
  width: 1000px; /* largura */
  height: 85%;
  max-width: 85%;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 30px;
  height: 5%; /* Definir altura do header como 10% do #quadro */
  width: 100%; /* Ocupa a largura total do #quadro */
  align-items: center;

  background-color: rosybrown;
}

main {
  display: flex;
  justify-content: space-between;
  height: 85%; /* Definir altura do header como 10% do #quadro */
  width: 100%; /* Ocupa a largura total do #quadro */
  background-color: rgb(122, 65, 59);
}

footer {
  height: 5%; /* Definir altura do header como 10% do #quadro */
  width: 100%; /* Ocupa a largura total do #quadro */
  text-align: center;
  vertical-align: sub;
  background-color: aquamarine;
}
/* blocos de coluna + title */
/* BLOCO DE COLUNA */
.container-columns-title {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 96%;
  max-width: 100%;
  border-radius: 10px;
  margin: 1%;
  background-color: royalblue;
}
.border {
  border: solid 1px black;
  box-shadow: 0.5px 2px 0.5px black;
}
.border:hover {
  box-shadow: 1px 3px 1px black;
}
.borderMain {
  background-color: grey;
  box-shadow: 1px 6px 1px black;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.opacity {
  opacity: 0.5;
}
.opacity-solid {
  opacity: 1;
}

.container-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%;
  background-color: rgb(122, 65, 59);
}

.coluna {
  width: 100%; /* Ajuste a largura conforme necessário */
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  direction: inherit;
}

.task {
  background-color: white;
  padding: 10%;
  margin: 10% 5%;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  border: solid 1px black;
  box-shadow: 0.5px 2px 0.5px black;
}
.task:hover {
  box-shadow: 1px 3px 1px black;
}

.botao {
  background: linear-gradient(45deg, yellow, orange);
  border-radius: 8px;
  float: right;
  margin-left: -40px;
  visibility: hidden;
}

.botaoesq {
  background: linear-gradient(45deg, yellow, orange);
  border-radius: 8px;
  float: left;
  margin-right: -40px;
  visibility: hidden;
}

.tarefa:hover .botao {
  visibility: visible;
}

.tarefa:hover .botaoesq {
  visibility: visible;
}

.tarefa:hover {
  font-weight: bolder;
  font-size: 24px;
}

h2 {
  font-size: 24px;
  font-weight: bolder;
  margin: 0px;
}
.column-title {
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 5px;
  margin-top: 0px;
  border: solid 1px black;
  margin-bottom: 0px;
  box-shadow: 0px 0px 5px 0px;
  z-index: 10;
}
.todo {
  background-color: #577988;
}
.doing {
  background-color: #aaa8a4;
}
.done {
  background-color: #f27752;
}
/*
#labelNomeUtilizador {
  font-size: 14px;
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(45deg, yellow, orange);
  padding: 1px;
  border: 2px solid black;
}

#nomeUtilizador {
  opacity: 0.4;
}

#nomeUtilizador:hover {
  opacity: 1;
}
*/
#createTask {
  font-size: 14px;
  float: left;
}
.btn {
  border: solid 1px black;
  color: black;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  box-shadow: 0.5px 2px 0.5px black;
}
.btn:hover {
  background-color: #1c3743;
  color: white;
  box-shadow: none;
}

#nomeAaparecerNoEcra {
  color: black;
  font-weight: bolder;
  vertical-align: center;
  float: right;
  text-shadow: 0px 1px 0px gray; /* Sombra do texto */
}

#nomeAaparecerNoEcra::before {
  content: "\1F4BB"; /* Código Unicode para o em
    oji do computador */
  margin-right: 8px; /* Espaçamento entre o emoji e o texto */
  font-size: 18px; /* Tamanho do emojji */
  vertical-align: middle; /* Alinha verticalmente o emoji e texto */
}

.formulario_do_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  display: none;
  z-index: 1000; /* Garante que o modal apareça sobre o conteúdo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900; /* Z-index menor que o modal para garantir que esteja abaixo */
}
.footer-r {
  flex-wrap: nowrap;
  font-size: 10px;
}
.dragging {
  opacity: 0.5;
  border-style: dashed;
  box-shadow: 0px 0px 0px 0px;
}
.click {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 3px 3px 3px 3px;
}

.container-main.main-top {
  display: flex;
  flex: 1;
  position: relative;
  min-height: 100px;
  flex-direction: column;
  height: 40px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px gray; /* Sombra do texto */
}
.prop {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100%;
  margin: 0px;
}
.taskName,
.taskDescription {
  width: 100%;
  width: 300px;
  resize: none;
}
.taskDescription {
  height: 300px;
}
.taskName {
  height: 50px;
}
.taskName {
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
.black-label {
  color: black;
}
.textBox {
  border-radius: 5px;
  border: solid 2px black;
}

.textBox:hover {
  box-shadow: 0.5px 2px 0.5px black;
}
.close-button {
  position: relate;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px black;
  color: black;
}
.red {
  background-color: rgb(218, 76, 76);
}
.red:hover {
  background-color: rgb(255, 0, 0);
}

.addTask {
  flex: 1;
  width: 300px;
  height: 400px;
}
.taskDescriptionAdd {
  width: 100%;
  width: 300px;
  resize: none;
}
textarea {
  box-sizing: border-box;
}
.borderMain .title {
  display: flex;
  justify-content: left;
  background-color: aliceblue;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
.left-align {
  text-align: left;
}

.plus::before {
  content: "\2795"; /* Unicode for heavy plus sign */
  margin-right: 5px; /* Space between the icon and the text */
}
.logo-dimension {
  margin-left: 5px;
  width: 50px;
  height: 50px;
}
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  gap: 10px;
}
.flex-btn {
  display: flex;

  justify-content: space-around;
  align-items: center;
}
#btn-center {
  display: flex;
  justify-content: center;
  justify-content: center;
  margin-bottom: 0px;
  gap: 10px;
}
.margin {
  margin-top: 0px;
  margin-bottom: 10px;
}
.name-box {
  height: 50px;
}
.description-box {
  height: 300px;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
