html {
  height: 100vh; /* "viewport height" - ocupa sempre a altura toda da janela mesmo que redimensiodada */
  margin: 0;
  display: flex; /* cria um layout flexível  */
  justify-content: center; /* alinha horizontal */
  width: 100%;
  background-image: url(Imagens/download.png);
  background-size: cover;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
}
h1 {
  text-align: center;
}
h3 {
  text-align: left;
}
.w-design {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0.5px 2px 0.5px black;
  border-radius: 8px;
}
.w-design:hover {
  box-shadow: 1px 3px 1px black;
  border-radius: 8px;
}
.w-size {
  height: 450px;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
}
.w-align {
  display: flex;
  flex-direction: column;
}
.login-title {
  color: black;
  text-transform: uppercase;
}
.text-box {
  height: 1.5rem;
}
.box-design {
  border-radius: 6px;
  border: solid 1px black;
}
.box-design:hover {
  box-shadow: 0.5px 1.5px 0.5px black;
}
#checkPassword {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}

.left-align {
  text-align: left;
}

.description-text {
  height: 15rem;
  resize: none;
}
.m-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  display: none; /* Esconde o modal */
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9; /* Z-index menor que o modal para garantir que esteja abaixo */
}
h2 {
  font-size: 24px;
  font-weight: bolder;
  margin: 0px;
}
/* CLEAR */
.window-extra {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}
.textBox {
  border-radius: 8px;
  border: solid 2px black;
}

.dimensions {
  display: flex;
  flex-direction: column;
  /* "viewport height" - ocupa sempre a altura toda da janela mesmo que redimensiodada */
  width: 300px;
  margin: 0;
  align-items: center; /* alinha verticalmente */
  justify-content: center; /* alinha horizontal */
}

.quadro {
  background-color: rgba(255, 255, 255, 0.5);
  width: 1000px; /* largura */
  height: 85%;
  max-width: 85%;
}
.whiteOpacity {
  background-color: rgba(255, 255, 255, 0.5);
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 30px;
  height: 5%; /* Definir altura do header como 10% do #quadro */
  width: 100%; /* Ocupa a largura total do #quadro */
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
  height: 85%; /* Definir altura do header como 10% do #quadro */
  width: 100%; /* Ocupa a largura total do #quadro */
  /*background-color: rgb(122, 65, 59);*/
}

footer {
  height: 5%; /* Definir altura do header como 10% do #quadro */
  width: 100%; /* Ocupa a largura total do #quadro */
  text-align: center;
  vertical-align: sub;
  /*background-color: aquamarine;*/
}
/* blocos de coluna + title */
/* BLOCO DE COLUNA */
.container-columns-title {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 96%;
  max-width: 100%;
  border-radius: 8px;
  margin: 1%;
  /*background-color: royalblue;*/
}
.border {
  border: solid 1px black;
  box-shadow: 0.5px 2px 0.5px black;
}
.border:hover {
  box-shadow: 1px 3px 1px black;
}
.borderMain {
  box-shadow: 1px 6px 1px black;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.opacity {
  opacity: 0.5;
}
.opacity-solid {
  opacity: 1;
}

.container-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%;
  /*background-color: rgb(122, 65, 59);*/
}

.coluna {
  width: 100%; /* Ajuste a largura conforme necessário */
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  direction: inherit;
}

.task {
  background-color: white;
  padding: 10%;
  margin: 0.5rem 5%;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  border: solid 1px black;
  box-shadow: 0.5px 2px 0.5px black;
}
.task:hover {
  box-shadow: 1px 3px 1px black;
}

.column-title {
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 5px;
  margin-top: 0px;
  border: solid 1px black;
  margin-bottom: 0px;
  box-shadow: 0px 0px 5px 0px;
  z-index: 3;
}
.todo {
  background-color: #577988;
}
.doing {
  background-color: #aaa8a4;
}
.done {
  background-color: #f27752;
}
#createTask {
  font-size: 14px;
  float: left;
}
.btn {
  border: solid 1px black;
  color: black;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  box-shadow: 0.5px 2px 0.5px black;
}
.btn:hover {
  background-color: #1c3743;
  color: white;
  box-shadow: none;
}
.top-btn {
}

#nomeAaparecerNoEcra {
  color: black;
  font-weight: bolder;
  vertical-align: center;
  text-shadow: 0px 1px 0px gray; /* Sombra do texto */
}

.footer-r {
  flex-wrap: nowrap;
  font-size: 10px;
}
.dragging {
  opacity: 0.5;
  border-style: dashed;
  box-shadow: 0px 0px 0px 0px;
}
.click {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 3px 3px 3px 3px;
}
.prop {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.black-label {
  color: black;
}

.textBox:hover {
  box-shadow: 0.5px 2px 0.5px black;
}

.red {
  background-color: rgb(218, 76, 76);
}
.red:hover {
  background-color: rgb(255, 0, 0);
}

.addTask {
  flex: 1;
  width: 300px;
  height: 400px;
}
.taskDescriptionAdd {
  width: 100%;
  width: 300px;
  resize: none;
}
textarea {
  box-sizing: border-box;
}
.borderMain .title {
  display: flex;
  justify-content: left;
  /*background-color: aliceblue;*/
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

.plus::before {
  content: "\2795"; /* Unicode for heavy plus sign */
  margin-right: 5px; /* Space between the icon and the text */
}
.logo-dimension {
  margin-left: 5px;
  width: 50px;
  height: 50px;
}
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  gap: 10px;
}
.flex-btn {
  display: flex;

  justify-content: space-around;
  align-items: center;
}
#btn-center {
  display: flex;
  justify-content: center;
  justify-content: center;
  margin-bottom: 0px;
  gap: 10px;
}
.margin {
  margin-top: 0px;
  margin-bottom: 10px;
}
.name-box {
  height: 50px;
}
.description-box {
  height: 300px;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
